<ul class="navbar">
    <li id="home_navbar"><a  href="/home">Home </a></li>
    <li id="profile_navbar"><a href="/profile">Profile </a></li>
    <li id="gallery_navbar"><a href="/gallery">Gallery </a></li>

</ul>
