<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/home_css.css"> 

</head>
<body>

<header>  
  <h3>Website Statis</h3>
</header>

<nav>
  {% include "navbar.njk" %}
</nav>
<div class="row">

  <div class="col-6 col-s-9 kiri">
    <div class="kiri">
      <h1>Selamat Datang di Halaman Website Statis</h1>
      <p>Halaman ini berisi tentang halaman utama saat pengguna pertama kali mengakses website ini. semoga dapat bermanfaat sebagaimana mestinya :)</p>
    </div>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>Anda penasaran?</h2>
      <p>anda dapat menelusuri website ini atau dapat ditanyakan kepada adminnya</p>
    </div>
  </div>
</div>

{% include "footer.njk" %}

</body>
</html>